// @import "../../assets/style/util.css";

//Div 1 contenedores padre
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

//Div 2 contenedores 
.wrap-login100 {
  width: 420px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  // background-color: yellowgreen;

}

//Div 3 contenedores 
.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 49px;
}

//div contenedor campos de login
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 23px;
  // background-color: antiquewhite;
}

.validate-input {
  position: relative;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}


/* Input user */

.input100 {
  font-family: flex-end;
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
  // background: aliceblue;

}

input {
	outline: none;
	border: none;
}


//input usuario 

.focus-inputImagen2{
  position: absolute;
  display: block;
  pointer-events: none;
  // background-color:#e1ecb6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(218, 178, 49);;
}



.focus-inputImagen2::after{
  font-family: "FontAwesome";
  content: "\f007";
  color:#5492e9;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-top: 3px;
}

.focus-inputImagen2::before{
  content: "";
  color:  hsl(17, 83%, 45%);
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #7f7f7f;

}

.input100:focus + .focus-inputImagen2::before {
  width: 100%;
}
.has-val.input100 + .focus-inputImagen2::before {
  width: 100%;
}
.input100:focus + .focus-inputImagen2::after {
  color: #a64bf4;
}
.has-val.input100 + .focus-inputImagen2::after {
  color: #15e27b;
}


//input contraseña

.focus-input-password{
  position: absolute;
  display: block;
  pointer-events: none;
  // background-color:#e1ecb6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(218, 178, 49);;
}

.focus-input-password::after{
  font-family: "FontAwesome";
  content: "\f13e";
  color:#5492e9;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-top: 3px;
}

.focus-input-password::before{
  content: "";
  color:  hsl(17, 83%, 45%);
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #7f7f7f;
}


.input100:focus + .focus-input-password::before {
  width: 100%;
}
.has-val.input100 + .focus-input-password::before {
  width: 100%;
}
.input100:focus + .focus-input-password::after {
  color: #a64bf4;
}
.has-val.input100 + .focus-input-password::after {
  color: #15e27b;
}



//Forgot password?
.text-right {
  padding-bottom: 31px;
  // background-color: chartreuse;
}

//Boton iniciar
.container-login100-form-btn {
  position: relative;
  margin-bottom: 23px;
  width: 100%;
  height: 50px;
  justify-content: center;
  // background-color: #fac1e0;

}

.container-btn{
  background-color: #35ace4;
  width: 80%;
  margin-left: 10%;
  height: 50px;
  border-radius:25px;
}


.sim-button{
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	cursor: pointer;
}



.button13 {
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
  position: relative;
 
}
.button13 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button13::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	border: 1px solid rgba(255,255,255,0.5);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius:25px;
}
.button13:hover::before{
	opacity: 0;
	-webkit-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}
.button13::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	background-color: rgba(255,255,255,0.25);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: scale(0.5,0.5);
  transform: scale(0.5,0.5);
  border-radius:25px;
}
.button13:hover::after{
	opacity: 1 ;
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}


//Or Sign Up Using
.txt1 {
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

.text-center {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  // background-color: rgb(160, 184, 75);
}


//iniciar con face o gogle
.flex-c-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.login100-social-item {
  font-size: 25px;
  color: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}
.bg1 {background-color: #3b5998}
.bg3 {background-color: #ea4335}



@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
} 